<ul class="usa-card-group">
    {% if include.limit %}
    {% assign limitVar = include.limit | plus: 0 %}
    {% endif %}
    {% for page in site.work limit:limitVar %}
    <li class="tablet:grid-col-4 usa-card">
        <div class="usa-card__container">
            {% if page.img-feat %}
            <div class="usa-card__media">
                <div class="usa-card__img">
                    {% if page.img-feat %}
                    <img src="{{ site.baseurl }}/img/work/{{ page.img-feat }}" alt="{{ page.img-alt }}">
                    {% endif %}
                </div>
            </div>
            {% endif %}
            <header class="usa-card__header">
                <h3 class="usa-card__heading">
                    <a href="{{ site.baseurl }}{{ page.url }}">
                        {{ page.title }}
                    </a>
                </h3>
            </header>
            <div class="usa-card__body">
                <p>{{ page.description }}</p>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
