---
layout: about
---
{% include meta.html %}
{% include header.html %}
<main id="main-content">
    {% include hero.html %}
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="tablet:grid-col-8">
                {{ content }}
            </div>
            <div class="tablet:grid-col-4">
                <img src="{{ site.baseurl }}/img/profile.png" alt="{{ site.title }}" class="circle lg">
            </div>
        </div>
    </div>
</main>
{% include footer.html %}
