---
layout: post
---
{% include meta.html %}
{% include header.html %}
<main id="main-content">
    {% include hero.html %}
    <div class="grid-container">
        <div class="grid-row">
            <div class="tablet:grid-col-2"></div>
            <div class="tablet:grid-col-8">
                <p>
                    By {{ page.author }} 
                    {% if page.date %}
                    &middot; {{ page.date | date: site.date }}
                    {% endif %}
                </p>
                {{ content | markdownify }}
            </div>
            <div class="tablet:grid-col-2"></div>
        </div>
    </div>
</main>
{% include footer.html %}
